@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Top*/

header {
  border-color: #1b203d;
  border-style: double;
  border-radius: 20px;
  background: darkorange;
  padding: 10px;
}
nav {
  float: right;
  padding: 10px;
  font-size: 1.5em;
  display: block;
  padding-top: 90px;
}
.currentsite {
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: #1b203d;
}
nav ul {
  padding: 5px;
  display: flex;
}
nav li {
  display: inline;
}
.logo {
  max-width: 400px;
  max-height: 250px;
  padding: 0;
  background-color: transparent;
}
.iconbuttons {
  margin-right: 20px;
}
.search {
  margin-right: 25px;
  margin-bottom: 52px;
}
.searchbutton:hover {
  background: darkgreen;
}
.searchbutton {
  text-decoration: underline;
  background: crimson;
  border: dotted black 1px;
  width: 40px;
  height: 25px;
}
/*Top*/
/*Middle*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../Images/background1\ \(1\).png");
}
.gamesbody {
  background: url("../Images/multiplayer-1576688681.jpg");
}

.console-logo {
  max-width: 300px;
  max-height: 40px;
  margin-top: 0.1px;
}
.game-pics {
  border-radius: 20px;
  float: left;
}
.genre {
  display: flex;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #1b203d;
  display: inline;
}
.genre:hover {
  text-decoration: underline;
}
.genres {
  margin: 10px auto;
  text-align: center;
  color: #1b203d;
  background: darkorange;
  overflow: hidden;
  border: 1px groove #1b203d;
  padding: 1px;
  background-clip: padding-box;
  max-width: 800px;
  border-radius: 25px;
  float: center;
}
li {
  display: inline;
}
.featured {
  margin: 0 auto;
  text-align: center;
  color: #1b203d;
  background: darkorange;
  overflow: hidden;
  border: 1px groove #1b203d;
  padding: 1px;
  background-clip: padding-box;
  max-width: 600px;
  border-radius: 25px;
  display: ;
}
.headline {
  margin: 0 auto;
  text-align: center;
  color: #1b203d;
  background: darkorange;
  overflow: hidden;
  border: 1px groove #1b203d;
  padding: 10px;
  background-clip: padding-box;
  max-width: 800px;
  border-radius: 25px;
}
.buybutton {
  border: groove 1px black;
  padding: 0.5px 20px;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 1em;
  text-decoration: none;
}
/*Middle*/
/*bottom*/

footer {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}

/*bottom*/
