.Console__logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* tar dette i slutten */
footer {
  text-align: center;
}
