@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&display=swap");
/* for alt*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: rgb(223, 223, 223);
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient( #111836, #3505d4, #111836);
  margin-bottom:40px;
}
li {
  display: inline;
}
/*Navigation/top*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: linear-gradient( #111836, #582fe0, #111836);
  font-family: "Ubuntu", sans-serif;
}
.logo {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: "Black Ops One", cursive;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #d8d7d9;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 13px;
}
nav span{
  color:rgb(28, 250, 28);
  font-size:15px;
}

/*Main*/


p {
  font-style: italic;
  font-weight: bold;
}

.headline-picture {
  background: url("../Images/darkcity.jpg");
}
.best-seller {
  height: 300px;
  width: 550px;
  border-radius: 5px;
}

.check-games{
  background-color:rgb(0, 0, 0);
  margin: 20px;
  display:inline-block;
  padding:10px;
  border-radius: 10px;
  letter-spacing:2px;
}

/*genre bar*/
.genre {
  display: flex;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: rgb(223, 223, 223);
  display: inline;
  margin: 5px auto;
}
.genres {
  margin: 10px auto;
  text-align: center;
  color: rgb(223, 223, 223);
  background: linear-gradient( #111836, #4c23d3, #111836);
  overflow: hidden;
  padding: 1px;
  background-clip: padding-box;
  max-width: 800px;
  border-radius: 10px;
}
.genre:hover {
  text-decoration: underline;
  letter-spacing:1px;
}

/* games grid */

.result {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  text-align: center;
  padding-top: 30px;
  padding-bottom:30px;
}
.inner-result:hover {
  background-color: rgb(27, 15, 58);
  transform: scale(1.03);
  transition: all 0.5s ease;
}
.inner-result {
  background-color: rgb(2, 6, 56);
  max-width: 800px;
  width: 400px;
  height: 300px;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  color: rgb(206, 206, 231);
  font-size: 1.05rem;
}
.image {
  width:400px;
  height:230px;
}


/*fremside grid*/
.grid{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  text-align: center;
}
.inner-headline{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
}

.headline {
  text-align: center;
  color: rgb(223, 223, 223);
  overflow: hidden;
  background-clip: padding-box;
  max-width: 800px;
  margin: 100px;
  background: linear-gradient( #111836, #3505d4, #111836);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(245, 244, 244, 0.2);
  padding: 20px;
}
.headline-text {
  font-size: 30px;
  width:500px;
  font-family: "Black Ops One", cursive;
  background: linear-gradient( #111836, #4c23d3, #111836);
  color: rgb(204, 197, 197);
  border-radius: 5px;
  margin:0 auto;
  margin-top:10px;
  text-align: center;
}
.inner-top-games{
  background-color: rgb(2, 6, 56);
  max-width: 800px;
  width: 300px;
  height: 250px;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  color: rgb(206, 206, 231);
  font-size: 1.05rem;
}
.inner-top-games:hover{
  background-color: rgb(27, 15, 58);
  transform: scale(1.03);
  transition: all 0.5s ease;
}
.index-image{
  width:300px;
  height:150px;
}
/*css til profil siden//må fikses*/
.profile-info{
  text-align: center;
  color: rgb(223, 223, 223);
  overflow: hidden;
  background-clip: padding-box;
  max-width: 600px;
  margin: 30px auto;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}



/*Cart css*/

.cart-container{
max-width:650px;
justify-content:space-around;
margin:0 auto;
margin-top:50px;
display:flex;
flex-wrap:wrap;
padding-bottom:100px;
}
.cart-top{
  width:100%;
  max-width:650px;
  display:flex;
  justify-content: flex-start;
  border-bottom:4px solid grey;
  margin:0 auto;
}
.game-title{
  width:45%;
}
.price{
width:15%;
border-bottom:1px solid green;
display:flex;
align-items:center;

}
.quantity{
width:15%;
border-bottom:1px solid green;
display:flex;
align-items:center;
}
.sum{
width:25%;
border-bottom:1px solid green;
display:flex;
align-items:center;

}
.game{
  width:45%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:20px 0;
  border-bottom:1px solid green;
}
.games{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
}
.games img{
  width:75px;
}
/* .cart-pic{
  width:100px;
  height:100px;
} */
.totalSumContainer{
  display:flex;
  justify-content: flex-end;
  width:100%;
  padding:10px 0;
}
.totalSumText{
  width:15%;
}
.totalSum{
  width:25%;
}
/*Buy buttons*/

.start-btn:hover {
  color: rgb(207, 32, 169);
  letter-spacing: 6px;
}
.btn-container {
  margin: 20px;
}
.start-btn {
  background: linear-gradient( #13151d, #12502f, #111836);
  color: rgb(240, 226, 226);
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 8px;
  font-size: 1.05rem;
  display: inline-block;
  font-weight: bold;
  margin-top: auto;
}
/*knapp for profil contact etc // må byttes ut*/
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  outline: none;
  border-radius: 30px;
  background: rgb(53, 139, 53);
  color: white;
  border: none;
  border-radius: 5px;
  border: 1px white solid;
  font-weight: bold;
  text-align:center;
}



/*Login/account creation*/
.login {
  height: 100%;
  width: 100%;
}
.login-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: rgb(223, 223, 223);
  padding: 5px;
}

.main-creatacc {
  color: rgb(22, 22, 22);
  font-family: "Ubuntu", sans-serif;
}
.input-group {
  top: 50px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.check-box {
  margin: 30px 10px 30px 0;
}
/*flytte form til mid*/
#register {
  left: 50px;
}

/*Contact form*/
.error-form {
  display: none;
  color: red;
  font-size: 12px;
  padding: 5px;
  letter-spacing: 2px;
}
.contact-container {
  max-width: 550px;
  align-items: center;
  margin: 0 auto;
  padding: 190px;
  border-radius: 20px;
}
#contactForm {
  display: grid;
  grid-row-gap: 15px;
  text-align: center;
  padding: 10px;
}
.contact-inputs {
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}
#sucess {
  display: none;
  color: green;
}
/*Footer*/


footer {
  background: linear-gradient( #111836, #582fe0, #111836);
  width:100%;
  height:40px;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  color: white;
  display: flex;
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
}
.console-logo {
  max-width: 300px;
  max-height: 40px;
  margin-top: 0.1px;
}

/*ipad/mobile*/

@media (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  
  .best-seller {
    height: 150px;
    width: 300px;
  }
  
  .buybutton {
    left: 200px;
  }
  .buybutton-shop {
    bottom: 80px;
    left: 180px;
  }
  .headline-picture{
    background: url("../Images/Background.jpg");
    align-items:center;
  }
  .game-logo {
    height:400px;
    width:800px;
    right:230px;
    bottom:120px;
}